.account-page {

}

.account-page .my-accounts {
    background: #0099a7;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.my-accounts .page-title {
    color: #fff;
    text-align: left;
    font-size: 24px;
    padding: 20px;
    float: left;
}

.account-page .delete-btn {
    cursor: pointer;
}