.highchart-cont {
    padding: 30px 0 0 0;
}

.refresh-cont {
    margin: 170px 0;
}

.highcharts-credits {
    visibility: hidden;
}

.highcharts-background {
    fill: rgba(0, 0, 0, 0);
}

.highcharts-range-selector-buttons {
    display: none;
}

.highcharts-scrollbar {
    display: none;
}

.highcharts-input-group {
    display: none;
}