
.dashboard-page.osi { }
.dashboard-page.osi .top-cont {
  display: flex;
}

.dashboard-page.osi .top-cont .balances-cont {
}

.dashboard-page.osi .Card.balances {
  width: 320px;
}
.dashboard-page.osi .Card.balances .tokens-a {
  /*max-height: 188px;*/
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  margin: 0 -38px;
  padding: 0 38px;
}

.dashboard-page.osi .Card.balances .tokens {
  margin: 0;
  padding: 0;
}
.dashboard-page.osi .Card.balances .token {
  display: flex;
  align-items: center;
  padding: 0.8em 0;
}
.dashboard-page.osi .Card.balances .token svg {
  margin-right: 1.5em;
}
.dashboard-page.osi .Card.balances .details {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1 1 auto;
}
.dashboard-page.osi .Card.balances .details label {
  order: 1;
  font-family: 'Open Sans';
  font-weight: 300;
}
.dashboard-page.osi .Card.balances .details value-amount {
  order: 2;
  display: flex;
  align-items: center;
  line-height: 1.4em;
}
.dashboard-page.osi .Card.balances .details value-amount amount {
  font-family: 'Comfortaa';
  font-size: 22px;
  /*margin-right: auto;*/
  min-width: 128px;
}
.dashboard-page.osi .Card.balances .details value-amount value {
  font-family: 'Comfortaa';
  font-size: 14px;
  text-align: left;
}



.dashboard-page.osi .Card.balances .rc-progress-circle {
  width: 30px;
  height: 30px;
}

.dashboard-page.osi .Card.balances card-footer > * {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.08em;
}
.dashboard-page.osi .Card.balances card-footer value {
  font-family: 'Comfortaa';
  font-size: 22px;
}
.dashboard-page.osi .Card.balances card-footer label {
  display: flex;
  align-items: center;
  font-weight: 300;
}
.dashboard-page.osi .Card.balances card-footer label .fa {
  margin-right: 1em;
  font-size: 10px;
}
.dashboard-page.osi .Card.balances card-footer { }
.dashboard-page.osi .Card.balances card-footer .most label .fa {
  color: #02FDDE;
}

.dashboard-page.osi .Card.balances card-footer .least label .fa {
  color: #FE0077;
}

.dashboard-page.osi .top-cont .chart-cont {
  position: relative; /* erase? */
}
