.sidenav {
  color: #FFFF;
  width: 270px;
}
.sidenav ul {
  padding-left: 30px;
}
.sidenav ul li {}
.sidenav ul li a {
  color: #6A727F;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 13px;
  opacity: 0.90;
  transition: all 80ms ease-in-out;
}
.sidenav ul li a:hover,
.sidenav ul li a:focus,
.sidenav ul li a:active {
  opacity: 0.98;
  text-decoration: none transparent;
  color: #F5F6F8;
}

.sidenav ul li a[disabled] {
  pointer-events: none;
  cursor: default;
  position: relative;
  color: #666;
}
.sidenav ul li a[disabled]:hover {
  color: #666;
  text-decoration: none;
}
.sidenav ul li a span.fa {
  margin-top: -5px;
  margin-right: 1em;
  font-size: 22px;
}
.sidenav ul li a.active {
  color: #FFF;
}
