.Card {
  background: rgba(23, 23, 23, 0.3);
  margin: 15px 0 0 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(23, 24, 23, 0.3);
  padding: 38px;
  color: #FFF;
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
}

.Card card-header {
  display: flex;
  margin: -20px;
  margin-bottom: 0;
  align-items: center;
}
.Card card-header h1, .Card card-header h2, .Card card-header h3, .Card card-header h4, .Card card-header h5, .Card card-header h6 {
  flex: 1 1 auto;
  text-align: left;
  padding: 0;
  margin: 0;
  color: rgba(212, 214, 217, 0.6);
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Open Sans';
  font-weight: 700;
}
.Card card-header .actions {}
.Card card-header .actions button {
  background: rgba(255, 255, 255, 0);
  border-radius: 100%;
  border: none;
  transition: all 120ms ease-in-out;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
}
.Card card-header .actions button:focus,
.Card card-header .actions button:active {
  outline: none;
}
.Card card-header .actions button:hover {
  background: rgba(255, 255, 255, 0.3);
}
.Card card-header {}

.Card card-header + h1, .Card card-header + h2, .Card card-header + h3, .Card card-header + h4, .Card card-header + h5, .Card card-header + h6 {
  margin-top: 54px;
  font-family: 'Comfortaa';
  letter-spacing: 0.1em;
  font-size: 34px;
  text-align: left;
  color: rgba(255,255,255,0.89);
}
.Card p {
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.Card code {
  background: none;
  font-size: 1.2em;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #02FDDE;
}
.Card card-footer {
  border-top: 1px solid rgba(255,255,255,0.1);
  display: flex;
  margin: 0 -38px -38px;
}
.Card card-footer > * {
  flex: 1;
  padding: 38px;
}
.Card card-footer > *:not(:last-child){
  border-right: 1px solid rgba(255,255,255,0.1);
}
