.balances-list .refresh-cont{
    margin-top: 134px;
}

.balance-item {
    white-space: nowrap;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.balance-item.sum {
    position: absolute;
    bottom: 1px;
    right: 0;
    left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
}

.balance-item .item-title {
    float: left;
    width: 80px;
    text-align: left   ;
}

.balance-item .item-amount {
    float: left;
    text-align: center;
}

.balance-item .item-value {
    text-align: right;
}