.chart-navigation {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    padding: 5px 35px;
    background: #362fb4;
}

.chart-navigation .navbar-cont {
    display:inline-block;
    float: left;
}

.navbar .nav-pills > li > a {
    background: #00a79d;
    border: none;
    border-radius: 20px;
}

.chart-navigation .status-cont {
    display:inline-block;
    height: 100%;
    width: 30%;
    float: center;
    margin-right: 10%;
}

.chart-navigation .status-cont .title {
    float: center;
    vertical-align: middle;
    height: 100%;
}

.chart-navigation .btn-cont {
    background: #362fb4;
	position: relative;
    float: right;
    vertical-align: middle;
    height: 100%;
    width: 6%;
    display:inline-block;
}

.chart-navigation .btn-cont .btn {
	vertical-align: middle;
	height: 100%;
	width: 100%;
    background: #362fb4;
}