.highcharts-credits {
    visibility: hidden;
}

.refresh-cont {
    margin: 180px 0;
}

.highcharts-background {
    fill: #342eb2;
    /*fill: rgba(0, 0, 0, 0);*/
}

.highcharts-range-selector-buttons {
    display: none;
}